@import "tailwindcss";

:root {
  font-family: Sans, system-ui, Avenir, Helvetica, Arial;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #dde4e8;

  scrollbar-color: #777777 var(--color-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --radius: 0.5rem;
  --text-base: #3f3f46;

  /* Convertidos de OKLCH a HEX */
  --background: #ffffff;
  --foreground: var(--text-base);

  --card: #ffffff;
  --card-foreground: #222230;

  --popover: #ffffff;
  --popover-foreground: #222230;

  --primary: #655dff;
  --primary-foreground: #f5f5ff;

  --secondary: #eeeef687;
  --secondary-foreground: #373741;

  --muted: #f7f7fa;
  --muted-foreground: #7e7e9a;

  --accent: #f7f7fa;
  --accent-foreground: #373741;

  --destructive: #c1451b;

  --border: #dadada;
  --input: #ebebf0;
  --input-soft: #ebebf08d;
  --ring: #655dff;
}

#root,
body {
  margin: 0;
  width: 100%;
  min-height: 100dvh;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}
